body {
    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

#stand {
    height: 50px;
    width: 100px;
    font-size: 20px;
}